<?xml version="1.0"?>
<launch>
  <arg name="ur_robot_ip" default="192.168.0.123"/>
  <arg name="shadow_port" default="eth2"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find tams_f329_description)/urdf/tams_f329_with_left_motorhand.xacro'"/>

  <include file="$(find tams_motorhand)/launch/left_pst_hand_in_ns.launch"/>

  <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch" ns="arm">
    <arg name="robot_ip" value="$(arg ur_robot_ip)" />
    <arg name="headless_mode" value="true" />
    <arg name="robot_description_file" value="$(find tams_f329_description)/launch/upload_ur10e.launch" />
    <arg name="controller_config_file" value="$(find tams_f329_description)/config/ur10e_controllers.yaml" />
    <arg name="kinematics_config" value="$(find tams_f329_description)/data/ur_calibration.yaml" />
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tams_f329_with_left_motorhand_moveit_config)/launch/moveit.rviz"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true">
    <param name="publish_default_positions" value="False"/>
    <param name="publish_default_velocities" value="False"/>
    <param name="publish_default_efforts" value="False"/>
    <param name="use_gui" value="False"/>
    <rosparam>source_list: [ arm/joint_states, hand/joint_states ]</rosparam>
  </node>

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" required="true">
    <param name="publish_frequency" type="double" value="100.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <include file="$(find tams_f329_with_left_motorhand_moveit_config)/launch/move_group.launch" />

</launch>
